# Build output
output/
_PhpDocs/

# test output
generated/
coverage/

#intellij specific resources
*.iml
.idea/*

# library folder
vendor/*

#nbproject/*

#Other Files/Folders
.DS_Store
executionlog.txt
composer.lock