'''
    <?php
    //*
    Xmx8g
    App ID:"b7sfh8n9sj",
    Service: Integrated with QuickBooks
    Date Created: 03/20/2017
    Date Modified: 03/20/2017 T:14:35:48.002Z
    -  Install Homebrew:
    -  in Termanal:  < /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    -  create Logs directory: <logger>
    -  section:'sdk.config' file
    -  <logger>
    -  <requestLog enableRequestResponseLogging="true"
    -  requestResponseLoggingDirectory="Logs" />
    -  </logger
    -  section:'App.config:' file
    -  Token, Secret to <appSettings>
    -  <appSettings>
    -   --These samples use a hard-coded realm ID and OAuth tokens. Enter the values below.
    -  <add key="AccessToken" value="Your_380d81ddb65b413dbbc7bb26bf6932ad98" />
    -  <add key="AccessTokenSecret" value="Your_Q7c3SVQi0EtuJlA13fbyrcUHSjBOX7g3kAySv8iw" />
    -  <add key="ConsumerKey" value="Your_qyprdiHhrzaIfiZNM7iTqu548mVX4q" />
    -  <add key="ConsumerSecret" value="Your_Q7c3SVQi0EtuJlA13fbyrcUHSjBOX7g3kAySv8iw" />
    -  <add key="RealmID" value="Your_123145787064904" />
    -  </appSettings>
    -  # Install the SDK:
    -  PHP SDK
    -  v3-php-sdk-2.5.0-RC
    -  In Your <php.ini> file, add the following extensions:
    -  extension_dir = "ext",
    -  extension=php_oauth.dll
    -  edit "sdk.config." file to point to your app the correct QuickBook endpoint.
    -  "https://quickbooks.api.intuit.com"
    -  point to the sandbox: In the <service> section
    -  "https://sandboxquickbooks.api.intuit.com"
    -  section: 
    -  <service>
    -  <baseUrl
    -  qbd="https://quickbooks.api.intuit.com/"
    -  qbo="https://sandbox-quickbooks.api.intuit.com/"
    -  ipp="https://appcenter.intuit.com/api/" />
    -  </service>
    -  Install PECL OAuth version 1.2.3:http://pecl.php.net/packages/oauth
    -  Install the dependency:
    -  Copy <php-oauth.dll> to "C:\Program Files\PHP\ext",
    -  Install  PHP:
    -  Install PHP 5.3 or greater:http://windows.php.net/downloads.  For more information on  installing PHP on windows
    -  see https://php.net/manual/en/install.windows.php.
    -  Installing on Windows:
    -  The PHP SDK has the following dependency, which is not included in the zip file download:
    -  <PHP Extension Community Library (PECL)>
    -  Install the PHP SDK:
    -  connect to a production company use 'qbo="https://quickbooks.api.intuit.com/"'
    -  Realm ID = "123145787064904": follow URI "baseURL/Sandbox Company_US_1/123145787064904/account:0639375
    -  Developer API Intuit:AppId:b7sfh8n9sj
    -  Application Name:"$xmlObj"
    -  short Name:app-b7sfh8n9sj
    -  APIs: Payments
    -  App URLs: Hostdomain:www.api.intuit.com
    -  Launch URL: https://sandboxquickbooks.api.intuit.com
    -  Disconnect URL: https://appcenter.intuit.com/api
    -  Webhooks: https://quickbooks.api.intuit.com
    -  Verifier Webhook Token:"bd391c61-7c90-49ae-8d40-0e48c3baab50",
    -  Legal: End User License Agreement URL: https://quickbooks.api.intuit.com
    -  Legal: Privacy Policy URL: https://pecl.php.net/packages/oauth
    -  Java SDK V2.9.0
    -  working environment: sandbox(development)
    -  Accounting API:'https://sandbox.quickbooks.api.intuit.com' 'https://quickbooks.api.intuit.com',
    -  Production:'https://api.intuit.com'
    -  Payments API: 'https://sandbox.api.intuit.com'
    -  v2ui
    -  Name: $xmlObj
    -  OpenID-enabled: https://OpenID-enabled.com
    -  End User:https://quickbooks.api.intuit.com
    -  Host new: www.api.intuit.com/developer
    -  PHP 5.6.3
    -  Apache.PHP Version:5
    -  @0072016
    -  @iphoneos
    -  ibm.watson.developer.cloud@gmail.com
    -  https://api.developer.intuit.com
    -  watson-developer-cloud@0.23.0-py2.7
    -  2017-03-20T14:34:55.002Z
    -  ?>
    -  */
    -  '
    














































//<?xml version="1.0" encoding="utf-8" ?>
/<configuration>
//  <intuit>
//    <ipp>
 //     <security mode="OAuth">
//        <oauth consumerKey="" consumerToken="" accessKey="" accessToken=""  />
  //    </security>
 /     <message>
/        <request serializationFormat="Xml" compressionFormat="None"/>
//        <response serializationFormat="Xml" compressionFormat="None"/>
//      </message>
 //     <service>
  //      <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
 ////     </service>
 ///     <logger>
 //       <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
//      </logger>
 //     <!--
//        Available strategies are file, handler and export.
 //       file - saves response into temporary file in system temp folder. 
//               The file should be removed manually
//        
//        handler - saves response into temporary file and provides file handler.
//                  The file is automatically removed after script termination or when developer closes the handler
/                  
///        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
  //         <contentWriter strategy="export" exportDirectory="/path/to/target/folder">  
///           
 //       For advance usage you can specify returnObject="true" to work with instance of contentWriter                
///      -->
 //     <contentWriter strategy="file" prefix="ipp"/>
 //     <specialConfiguration>
/          <TaxService jsonOnly="true"/>
/      </specialConfiguration>
/      <minorVersion>3</minorVersion>
///    </ipp>
/////  </intuit>
//  <appSettings>
/    <!--Intuit Anywhere QBD-->
///    <!--Specify AccessToken Value for QBD-->
///    <add key="AccessTokenQBD" value="" />
//    <!--Specify accessTokenSecret Value for QBD-->
//    <add key="AccessTokenSecretQBD" value="" />
/////    <!--Specify consumerKey Value for QBD-->
  //  <add key="ConsumerKeyQBD" value="" />
///    <!--Specify consumerSecret Value for QBD-->
  //  <add key="ConsumerSecretQBD" value="" />
 /   <!--Specify realmIdIA Value for QBD-->
//    <add key="RealmIAQBD" value="" />
//    <!--Intuit Anywhere QBO-->
 //   <!--Specify AccessToken Value for QBO-->
 ///   <add key="AccessTokenQBO" value="" />
//    <!--Specify accessTokenSecret Value for QBO-->
//    <add key="AccessTokenSecretQBO" value=""  />
///    <!--Specify consumerKey Value for QBO-->
//    <add key="ConsumerKeyQBO" value="" />
/    <!--Specify consumerSecret Value for QBO-->
//    <add key="ConsumerSecretQBO" value="" />
/    <!--Specify realmIdIA Value for QBO-->
//    <add key="RealmIAQBO" value="" />
 // </appSettings>
//</configuration>






@0072016
