<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth consumerKey="" consumerToken="" accessKey="" accessToken=""  />
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
      <!--
        Available strategies are file, handler and export.
        file - saves response into temporary file in system temp folder. 
               The file should be removed manually
        
        handler - saves response into temporary file and provides file handler.
                  The file is automatically removed after script termination or when developer closes the handler
                  
        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
           <contentWriter strategy="export" exportDirectory="/path/to/target/folder">  
           
        For advance usage you can specify returnObject="true" to work with instance of contentWriter                
      -->
      <contentWriter strategy="file" prefix="ipp"/>
      <specialConfiguration>
          <TaxService jsonOnly="true"/>
      </specialConfiguration>
      <minorVersion>3</minorVersion>
    </ipp>
  </intuit>
  <appSettings>
    <!--Intuit Anywhere QBD-->
    <!--Specify AccessToken Value for QBD-->
    <add key="AccessTokenQBD" value="" />
    <!--Specify accessTokenSecret Value for QBD-->
    <add key="AccessTokenSecretQBD" value="" />
    <!--Specify consumerKey Value for QBD-->
    <add key="ConsumerKeyQBD" value="" />
    <!--Specify consumerSecret Value for QBD-->
    <add key="ConsumerSecretQBD" value="" />
    <!--Specify realmIdIA Value for QBD-->
    <add key="RealmIAQBD" value="" />
    <!--Intuit Anywhere QBO-->
    <!--Specify AccessToken Value for QBO-->
    <add key="AccessTokenQBO" value="" />
    <!--Specify accessTokenSecret Value for QBO-->
    <add key="AccessTokenSecretQBO" value=""  />
    <!--Specify consumerKey Value for QBO-->
    <add key="ConsumerKeyQBO" value="" />
    <!--Specify consumerSecret Value for QBO-->
    <add key="ConsumerSecretQBO" value="" />
    <!--Specify realmIdIA Value for QBO-->
    <add key="RealmIAQBO" value="" />
  </appSettings>
</configuration>
