<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>

        <request serializationFormat="Json" compressionFormat="None"/>
        <response serializationFormat="Json" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="Logs" />
      </logger>
    </ipp>
  </intuit>
 <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->

    <add key="AccessToken" value="qyprdYku06SlM7ZWQaN2BQW8Ani3rWzPghlCyJCxXGnHK3ww" />
      <add key="AccessTokenSecret" value="7L6a39bp26Wq3kYgl2qo0mQSej1E5py9BaiyFXL9" />
      <add key="ConsumerKey" value="qyprd4qOA3v5HqeOUgVgJA6do0cg9U" />
      <add key="ConsumerSecret" value="rYJf2KSjXDIQ2cd3wXu5tWOmEMc1JoHy9H4F78sX" />
  <add key="RealmID" value="123145816135692" />
  </appSettings>
</configuration>
