<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
    </ipp>
  </intuit>
  <appSettings>
    <add key="AccessTokenQBO" value="qyprdkRjzCOK3pthWOvlbwqTZlKswA6C9EtwJtjyxaohnDs4" />
    <!--Specify accessTokenSecret Value for QBO-->
    <add key="AccessTokenSecretQBO" value="kiaq6QsbtJ0IZWcAwEFHSz1BOdzuVuMG3q0Wtg3h"  />
    <!--Specify consumerKey Value for QBO-->
    <add key="ConsumerKeyQBO" value="qyprdUSoVpIHrtBp0eDMTHGz8UXuSz" />
    <!--Specify consumerSecret Value for QBO-->
    <add key="ConsumerSecretQBO" value="TKKBfdlU1I1GEqB9P3AZlybdC8YxW5qFSbuShkG7" />
    <!--Specify realmIdIA Value for QBO-->
    <add key="RealmIAQBO" value="123145705986809" />
  </appSettings>
</configuration>
