<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth1 consumerKey="lve2eZN6ZNBrjN0Wp26JVYJbsOOFbF"
               consumerSecret="fUhPIeu6jrq1UmNGXSMsIsl0JaHuHzSkFf3tsmrW"
               accessTokenKey="qye2etcpyquO3B1t8ydZJI8OTelqJCMiLZlY5LdX7qZunwoo"
               accessTokenSecret="2lEUtSEIvXf64CEkMLaGDK5rCwaxE9UvfW1dYrrH"
               QBORealmID="193514489870599"/>
       <!--
       <oauth2 ClientID="lve2eZN6ZNBrjN0Wp26JVYJbsOOFbF"
              ClientSecret="fUhPIeu6jrq1UmNGXSMsIsl0JaHuHzSkFf3tsmrW"
              accessTokenKey="qye2etcpyquO3B1t8ydZJI8OTelqJCMiLZlY5LdX7qZunwoo"
              refreshTokenKey="2lEUtSEIvXf64CEkMLaGDK5rCwaxE9UvfW1dYrrH"
              QBORealmID="193514489870599"/>
       -->
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbo="https://qbonline-e2e.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
      <!--
        Available strategies are file, handler and export.
        file - saves response into temporary file in system temp folder.
               The file should be removed manually

        handler - saves response into temporary file and provides file handler.
                  The file is automatically removed after script termination or when developer closes the handler

        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
           <contentWriter strategy="export" exportDirectory="/path/to/target/folder">

        For advance usage you can specify returnObject="true" to work with instance of contentWriter
      -->
      <contentWriter strategy="file" prefix="ipp"/>
      <specialConfiguration>
          <TaxService jsonOnly="true"/>
      </specialConfiguration>
      <minorVersion>8</minorVersion>
    </ipp>
  </intuit>
</configuration>
